/* Background styling */
.background {
    background: var(--color-bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    color: var(--color-text-light);
}

/* Container styling */
.forgot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.forgot-card {
    background-color: #FFFFFF; 
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

/* Title and subtitle */
.forgot-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-primary); 
}

.forgot-subtitle {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--color-text-light); 
}

/* Form styling */
.forgot-form .form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: var(--color-text-light); 
}

.form-input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--color-input-border); 
    border-radius: 5px;
    background-color: var(--color-input-bg); 
    color: var(--color-text-light); 
    font-size: 1rem;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-input::placeholder {
    color: #999; 
}

/* Button styling */
.btn-forgot {
    background-color: #3E8E41; 
    color: #FFFFFF; 
    padding: 0.8rem;
    width: 100%;
    border: none;
    border-radius: 5px; 
    font-size: 1rem;
    font-weight: bold; \
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.btn-forgot:hover {
    background-color: #5fa054; 
    transform: scale(1.05); 
}


.btn-forgot:hover {
    background-color: #3E8E41; 
}

/* Success message */
.success-message {
    color: #28a745; 
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* Error message */
.error-message {
    color: var(--color-secondary); 
    font-size: 1rem;
    margin-bottom: 1rem;
}
